    /* menu font */
    
    @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
    /* menu font */
    /*  collab h1 font */
    
    @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
    /*  collab h1 font */
    
    @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* menu start */
    
    .menu-bar {
        height: 80px;
        width: 1900px;
        display: flex;
        background-color: grey;
        z-index: 1;
        opacity: 1;
        position: sticky;
        top: 0;
    }
    
    .main-logo a img {
        height: 80px;
        width: 140px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .main-menu {
        display: flex;
        margin: 5px auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .menu-name a {
        font-size: 26px;
        font-weight: 600;
        font-family: "Playfair Display", serif;
        margin: 2px auto;
        padding: 2px 30px;
        color: aliceblue;
        text-decoration: none;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .menu-name-link:hover a {
        /* border: 0.06rem dotted greenyellow; */
        transition: 0.5s;
        transition-delay: 0s;
        height: 35px;
        color: greenyellow;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .menu-name:hover {
        border-bottom: 0.15rem solid greenyellow;
        transition: 0.5s;
        transition-delay: 0s;
        background-color: black;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
    
    .menu-right {
        display: flex;
        height: 80px;
        width: 400px;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    
    .menu-right-icon a {
        font-size: 26px;
        font-weight: 600;
        font-family: "Playfair Display", serif;
        margin-left: 1.5rem;
        color: aliceblue;
        text-decoration: none;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .menu-right-icon:hover a {
        /* border: 0.06rem dotted greenyellow; */
        margin-top: 20px;
        transition: 0.5s;
        transition-delay: 0s;
        height: 40px;
        color: greenyellow;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .active-page {
        border-bottom: 0.15rem solid greenyellow;
        margin-top: 10px;
        transition: 0.5s;
        transition-delay: 0s;
        background-color: black;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
    }
    /* dropdown start */
    /* The container <div> - needed to position the dropdown content */
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 0.06rem dotted greenyellow;
    }
    /* Links inside the dropdown */
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Playfair Display", serif;
        font-size: 26px;
    }
    /* Change color of dropdown links on hover */
    
    .dropdown-content a:hover {
        margin-top: 10px;
        transition: 0.5s;
        transition-delay: 0s;
        height: 40px;
        color: greenyellow;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        border-bottom: 0.15rem solid greenyellow;
        margin-top: 10px;
        transition: 0.5s;
        transition-delay: 0s;
        background-color: black;
        border-radius: 5px;
    }
    /* Show the dropdown menu on hover */
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* dropdown end */
    /*  menu end */
    
    .container-greenyellow {
        height: 25px;
        width: 500px;
        margin: 0px;
    }
    
    .bar-greenyellow {
        background-color: greenyellow;
        width: 50px;
        height: 25px;
        position: relative;
        animation-duration: 3s;
        animation-name: jhakanaka;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }
    
    @keyframes jhakanaka {
        from {
            width: 50px;
        }
        to {
            width: 450px;
        }
    }
    
    .container-black {
        height: 25px;
        width: 500px;
    }