/* menu font */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

/* menu font */


/*  collab h1 font */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/*  collab h1 font */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");

/*  Car names */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* menu start */

.menu-bar {
    height: 80px;
    width: 1900px;
    display: flex;
    background-color: transparent;
    z-index: 1;
    opacity: 1;
    position: sticky;
    top: 0;
}

.main-logo a img {
    height: 80px;
    width: 140px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.main-menu {
    display: flex;
    margin: 5px auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu-name a {
    font-size: 26px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    margin: 2px auto;
    padding: 2px 30px;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu-name-link:hover a {
    /* border: 0.06rem dotted greenyellow; */
    transition: 0.5s;
    transition-delay: 0s;
    height: 35px;
    color: greenyellow;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu-name:hover {
    border-bottom: 0.15rem solid greenyellow;
    transition: 0.5s;
    transition-delay: 0s;
    background-color: black;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.menu-right {
    display: flex;
    height: 80px;
    width: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.menu-right-icon a {
    font-size: 26px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    margin-left: 1.5rem;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu-right-icon:hover a {
    /* border: 0.06rem dotted greenyellow; */
    margin-top: 20px;
    transition: 0.5s;
    transition-delay: 0s;
    height: 40px;
    color: greenyellow;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.active {
    border-bottom: 0.15rem solid greenyellow;
    margin-top: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    background-color: black;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}


/* dropdown start */


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 0.06rem dotted greenyellow;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 26px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    margin-top: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    height: 40px;
    color: greenyellow;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.15rem solid greenyellow;
    margin-top: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    background-color: black;
    border-radius: 5px;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* dropdown end */


/*  menu end */


/*  main area start */

.main-image {
    height: 850px;
    width: 1900px;
    position: relative;
    margin: 0;
    z-index: -1;
    margin-top: -860px;
    padding: 0;
    background-position: center;
    overflow: hidden;
    border-radius: 0 0px 2000px 0px;
}

.main-image video {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: top;
    opacity: 1;
    z-index: -1;
}

.welcome-button-area {
    margin: 10px;
    height: 60px;
    width: 500px;
    display: flex;
    transform: translateX(1px) scale(1);
    transition: 1s;
    transition-delay: 0.5s;
}

.welcome-button {
    height: 50px;
    width: 150px;
    margin: 1rem;
    margin-top: -200px;
    background-color: rgb(226, 104, 90);
    border-radius: 15px;
    z-index: -1;
}

.welcome-button a {
    text-decoration: none;
    font-size: 20px;
    color: snow;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.welcome-button:hover {
    background-color: rgb(68, 138, 103);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px greenyellow;
}

.welcome-right-social-icons {
    display: block;
    margin-left: 1850px;
    margin-top: 250px;
    z-index: -1;
    height: 500px;
    width: 100px;
}

.social-icons {
    margin-top: 1.5rem;
}

.social-icons a {
    font-size: 40px;
}


/*  */


/* logo sliding bar start */

.all-collabs {
    height: 250px;
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    justify-content: center;
    text-align: center;
    justify-items: center;
    /* border: 2px saddlebrown solid; */
}

.collabed-brands h1 {
    font-size: 36px;
    font-family: "Lobster", cursive;
    border-bottom: 1px salmon dashed;
    padding-bottom: 25px;
}

.logo-bar {
    height: 150px;
    width: 90%;
    /* border: 3px solid red; */
    margin: 20px auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    animation-duration: 8s;
    animation-name: logo-slider;
    animation-iteration-count: infinite;
    animation-direction: backwards;
}


.collab-company-logos {
    height: 150px;
    width: 300px;
}

.collab-company-logos img {
    height: 100%;
    width: 100%;
}



/* logo sliding bar end */


/* car show start */

.car-show {
    height: auto;
    width: 1300px;
    margin: 10px auto;
    margin-top: 150px;
    /* border: 1px red solid; */
    display: flex;
}

.car-product-area {
    height: 600px;
    width: 400px;
    /* border: 1px black solid; */
    border-radius: 10px;
}

.car-image-home {
    height: 400px;
    width: 100%;
    overflow: hidden;
    /* border: 1px green solid; */
    object-position: center;
    border-radius: 15px 15px 0px 0px;
}

.car-image-home a img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.car-show-data-home {
    height: 210px;
    width: 100%;
    background-color: grey;
    margin-top: -15px;
    border-radius: 0px 0px 10px 10px;
}

.car-show-data-home-h1 h1 {
    text-decoration: none;
    padding: 10px 10px 10px 3px;
}

.car-show-data-home-h1 a {
    color: snow;
    text-decoration: none;
    padding: 10px;
    margin-top: 25px;
    font-family: 'Lora', serif;
    font-size: 36px;
}

.car-show-data-home-P {
    color: seashell;
    padding: 10px 10px 10px 10px;
}

.car-product-area-gap {
    margin-left: 1rem;
}


/* car show end */

.name {
    height: 200px;
    width: 800px;
    margin: 20px auto;
}

.my-name {
    height: 150px;
    width: 600px;
    margin: 100px 120px;
}

.my-name h1 {
    font-size: 100px;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    padding: 20px;
}